
body, html {
  width: 100%;
  height: 100%;
  background:url('tyler/brikbg.jpeg') no-repeat center center;
    background-size: cover;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
}

.my-navbar {
  /*background: rgba(255, 255, 255, 0) !important;*/
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  color: white;
  height: 45px;

    background: 
    /* top, transparent red */ 
    linear-gradient(
      
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0),
    ) !important;
}
a.nav-link {
  color: rgba(0, 0, 0, 1) !important;
  padding-top: 5%;
}
.sign {
  padding-top: 10px;
}

.fa-linkedin {
  color: rgba(0, 0, 0, 1);
  padding-right: 5px;
}
.fa-twitter {
  color: rgba(0, 0, 0, 1);
  padding-right: 5px;
}
.fa-instagram {
  color: rgba(0, 0, 0, 1);
  padding-right: 5px;
}
.fa-github {
  color: rgba(0, 0, 0, 1);
  padding-right: 5px;
}
/*.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}
You could use :after - it doesn't really matter
.my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('http://placekitten.com/1500/1000');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
*/
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  height: auto;
  /*background: url('tyler/background_wedding.jpg') no-repeat center center;
  background-size: cover;*/
  background: 
    /* top, transparent red */ 
    /*linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),*/
    /* bottom, image */
    url('tyler/background_wedding.jpg') no-repeat center center;
    background-size: cover;
    /*filter: brightness(0.9);
    // Browser Specific
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -o-filter: brightness(0.9);
    -ms-filter: brightness(0.9);*/
}

/*.dark-cover {
  position: absolute;
}
.dark-cover:after {
  background-color: rgba(0,0,0,0.5);
}*/
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  bottom: 0;
  vertical-align: bottom;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
  text-align: center;
  position: relative;
  top: 200px;
  font-family: 'Permanent Marker', cursive;
}

.the-ul {
  position: relative;
  top: 200px;
}

/* Float Shadow */
.hvr-float-shadow {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-weight: bolder;
  border-color: black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  background-color: rgba(0, 0, 0, 0.9);
  border: solid 2px black;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {

  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.name {
  /*background-color: rgba(255, 255, 255, 0.2);*/
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 1.3em;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;*/
  border-radius: 3px;
  padding: 3px;
  letter-spacing: 3px;
}
/*///////////////BLOCK QUOTE//////////////////*/
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: auto;
margin: 0.25em 0;
margin-top: 12%;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
@media(max-width:992px) {
  blockquote {
  margin-top: 7%;
  }
}
/*//////////////////////////////////////////////*/
.quote {
  /*background: url("tyler/quotes.png") center top;
  background-size: 100px 100px;
  background-repeat: no-repeat;*/
  /*margin-top: 5%;*/
  box-shadow: inset 0 0 2em 2em #f4f4f4;
  /*background: red; padding: 2em */
  background-color: rgba(200,200,200,0.8);
  
}
.quote-2 {
  /*background: url("tyler/quotes.png") center;
  background-size: 100px 100px;
  background-repeat: no-repeat;*/
  box-shadow: inset 0 0 2em 2em #f4f4f4;
  background-color: rgba(200,200,200,0.8);
  margin-top: 3%;
}
.margin-override {
  margin-top: 7%;
}
/*background: #ffffff url("img_tree.png") no-repeat right top;
    margin-right: 200px;*/
.marketing-margin {
  margin-top: 5%;
}
.email {
  margin: 5px;
}
.email_box {
  /*border: solid 2px black;*/
  margin: 20px;
  margin-top: 5%;
  
  background-color: rgb(235,235,235);
  box-shadow: 0px 4px 3px #888888;
  color: white;
}
.email_box h2{
  font-family: 'Libre Baskerville', serif;
  color: black;
  padding: 5px;
  margin-bottom: 0px;
}
.email-button {
  color: white;
  background-color: rgb(56,138,227);
  border: white;
  font-size: 1em;
  border-radius: 1px;
  box-shadow: 1px 2px 2px #888888;
  padding: 5px;
  margin: 3px;
}
.email-button:hover {
  cursor: pointer;
  }
.input-box {
  margin: 1px;
  box-shadow: 0px 1px 1px #888888;
  border: solid 1px rgb(235,235,235);
  border-radius: 1px;
}
/*.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: right;
}*/

/*.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}*/

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  /*font-family: 'Alegreya Sans', sans-serif;*/
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
}

.content-section-a {
  font-family: 'Permanent Marker', cursive;
  padding: 50px 0;
  height: auto;
  background: #f4f4f4;
}
#about_tyler {
  margin-top: 1%
}
.lead {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 1em;
}
p.lead {
  margin: 0px;
}
.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: auto;
  background: rgb(250,250,250);
}
.content-section-c {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: auto;
  background: #f4f4f4;
}
.gotto-marry {
  background-image: url('tyler/gottomarrygrace.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);*/
  margin: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 3px #888888;
  filter: brightness(0.7);
    // Browser Specific
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}
.lang-title {
  padding-top: 70%;
  color: white;
}
.adobe {
  padding-top: 80%;
  color: white;
}
.js_jquery {
  padding-top: 70%;
  color: white;
}
.email-square-title {
  padding-top: 70%;
  color: white;
}
.email-square-title:hover {
  color: white;
}
.ror{
  padding-top: 70%;
  color: white;
}
.gotto-marry:hover {
  cursor: pointer;
  filter: brightness(1.1);
    // Browser Specific
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -o-filter: brightness(1.1);
    -ms-filter: brightness(1.1);
}
.wish-list {
  background-image: url('tyler/superwishfinal.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);*/
  margin: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 3px #888888;
  filter: brightness(0.7);
    // Browser Specific
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}
.wish-list:hover {
  cursor: crosshair;
  filter: brightness(1.1);
    // Browser Specific
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -o-filter: brightness(1.1);
    -ms-filter: brightness(1.1);
}
.recipe {
  background-image: url('tyler/recipesfinal.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);*/
  margin: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 3px #888888;
  -webkit-transition:  height 1s;
  filter: brightness(0.7);
    // Browser Specific
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}
.recipe:hover {
  cursor: crosshair;
  filter: brightness(1.1);
    // Browser Specific
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -o-filter: brightness(1.1);
    -ms-filter: brightness(1.1);
}
.ror:hover {
  color: black;
}
.email-square {
  background-image: url('tyler/TRICANINFOGRAPHIC.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);*/
  margin: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 3px #888888;
  -webkit-transition:  height 1s;
  filter: brightness(0.7);
    // Browser Specific
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}
.email-square:hover {
  height: 260px;
  cursor: crosshair;
  filter: brightness(1.1);
    // Browser Specific
    -webkit-filter: brightness(1);
    -moz-filter: brightness(1);
    -o-filter: brightness(1);
    -ms-filter: brightness(1);
}
.gif {
  background-image: url('tyler/tytycoffee.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);*/
  margin: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 3px #888888;
  -webkit-transition:  height 1s;
  filter: brightness(0.7);
    // Browser Specific
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}
.gif:hover {
  height: 260px;
  cursor: crosshair;
  filter: brightness(1);
    // Browser Specific
    -webkit-filter: brightness(1);
    -moz-filter: brightness(1);
    -o-filter: brightness(1);
    -ms-filter: brightness(1);
}
.storypage {
  background-image: url('tyler/storypage.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(255,255,255,0.0);*/
  margin: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 3px #888888;
  -webkit-transition:  height 1s;
  filter: brightness(0.7);
    // Browser Specific
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
}
.storypage:hover {
  height: 260px;
  cursor: crosshair;
  filter: brightness(1.1);
    // Browser Specific
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -o-filter: brightness(1.1);
    -ms-filter: brightness(1.1);
}
.js_jquery:hover {
  color: black;
}
#resume-page {
  margin-top: 50px;
  background-color: white;
  border: solid 2px black;
}
.resume-paragraph {
  font-family: 'Slabo 27px', serif;
  padding: 3px;
  text-align: center;
  border-bottom: solid 1px black;
}
.resume-header {
  font-family: 'Slabo 27px', serif;
  padding-top: 10px;
  border-bottom: solid 1px black;
}
.splitter {
  font-family: 'Slabo 27px', serif;
  border-bottom: solid 1px black;
  margin: 0px;
  padding: 0px;
}
.splitter p {
  font-family: 'Slabo 27px', serif;
  margin: 0px;
  padding: 0px;
}
.splitter-2 {
  font-family: 'Slabo 27px', serif;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin: 0px;
  padding: 0px;
}
.splitter-2 p {
  font-family: 'Slabo 27px', serif;
  margin: 0px;
  padding: 0px;
}
.job-paragraph {
  font-family: 'Slabo 27px', serif;
  text-align: left;
  font-size: .75em;
}
.job-paragraph h6{
  font-family: 'Slabo 27px', serif;
  text-align: left;
  font-size: 1.25em;
}
.space {
  height: 50px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.section-heading {
  margin-bottom: 10px;
}
.section-heading-c {
  margin-bottom: 30px;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 30px 0;
  color: #f8f8f8;
  /*background: url(../img/banner-bg.jpg) no-repeat center center;*/
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner p {
  margin-bottom: 0;
}

.banner-social-buttons {
  font-family: 'Roboto', sans-serif;
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-message>h1 {
  /*font-size: 3em;*/
  top: 100px;
  }

  .the-ul {
    top: 100px;
  }
}

footer {
  padding: 50px 0;
  /*background-color: #f8f8f8;*/
  background:url('tyler/brikbg.jpeg') no-repeat center center;
    background-size: cover;
    color: black;
}

p.copyright {
  margin: 15px 0 0;
  color: black;
  font-weight: 900;
}

.contact-row {
  margin-top: 75px;
}
.contact-box {
  margin-top:30px;
  padding:10px;
}
.spacer {
  margin-top: 30px;
}