<div class="container">
	<div class="row justify-content-center contact-row">
		<div class="col-sm-6">
			<h3 class="tect-cneter">Contact Tyler</h3>
			<div class="contact-box">
				<p>Phone: 716-799-5316</p>
				<p>Email: <a href="mailto:tylergotto17@gmail.com?subject=Hey%20Tyler%2C%20" target="_self">EMAIL TYLER</a>
                            </p>
				<p>Twitter:</p>
				<p>LinkedIn:</p>
			</div>
		</div>
	</div>
</div>

                                

