<div class="container">
	<div class="row justify-content-center contact-row">
		<div class="col-sm-6">
			<h2 class="text-center">Contact Tyler</h2>
			<div class="contact-box">
			<p class="text-center"><a href="mailto:tylergotto17@gmail.com?subject=Hey%20Tyler%2C%20" target="_self" class="btn btn-secondary btn-sm hvr-float-shadow">SEND EMAIL</a></p>
			<p class="text-center spacer"><a href="tel:+17167995316" class="btn btn-secondary btn-sm hvr-float-shadow">716-799-5316</a></p>
			</div>
		</div>
	</div>
</div>

                                

