<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6">
			<h3>Contact Tyler</h3>
			<div class="contact-box">
			<p>Phone: 716-799-5316</p>
			<p>Email: TYLERGOTTO17@GMAIL.COM</p>
			<p>Twitter:</p>
			<p>LinkedIn:</p>
			</div>
		</div>
	</div>
</div>


