
    
    <!-- Header -->

    <header class="intro-header dark-cover">
      
      <div class="container">
      <div class="row justify-content-center text-center">
        <div class="intro-message">
          <h1><span class="name">TYLER &nbsp;GOTTO</span></h1>
            <!-- <h3>Welcome to my personal website</h3>
            <hr class="intro-divider"> -->
            <ul class="the-ul list-inline intro-social-buttons">
            <li class="list-inline-item">
                <a href="#content-section-a" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">background</span>
                </a>
              <!-- </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-b" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">marketing</span>
                </a>
             <!--  </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-c" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">design</span>
                </a>
                
              <!-- </li> -->
            <!-- </ul> -->
          </div>
          </div>
        </div>
      </div>
      
    </header>

    <!-- Page Content -->
    <section class="content-section-a" id="content-section-a">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8" id="about_tyler">
            <h2 class="section-heading text-center">Up till Now</h2>
            <p class="lead">
            I am a marketing and technlology fan. I get excited over how well made an emotional Budwiser Superbowl Commercial was or how a Nike commercial sucked me in and now I have to buy a new pair of Nike's. I am an early adopter, especially when it comes to technology and I am constantly looking forward to the next big trend which will shape our lives. </p>
            <h5 class="text-center">How I got here</h5>
            <p class="lead">
            Being a professioanl hockey player who worked in marketing in both North America and Europe I have gained so much from my experiences interacting with people of differenet cultures, public speaking at events. Hockey also instilled in me a desire to excel at all endeavors I intake. As well I have a life long history of striving in a team environment and being a leader who helps drive my team to surpass our goals. 

            I am obsessed with learning, I am constantly seeking knowledge of how things work and how to improve on things. I spent my time since college taking professional development and further learning courses. CS50 FlatIron School, Codecademy, EDX marketing courses. 
            </p>
          </div>
          <div class="col-lg-4 quote">
            <blockquote>
            The best time to plant a tree was 20 years ago. The second best time is now. The best time to plant a tree was 20 years ago. The second best time is now.The best time to plant a tree was 20 years ago. <cite> Chinese Proverb </cite>
          </blockquote>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b" id="content-section-b">
     <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <h2 class="text-center">My feelings towards Marketing</h2>
          <p>Essentially you will need a broad mix of skills to be successful in this industry and potential candidates need to show evidence of the following.</p>Mobile is going to become the center of marketing. Wearable gadgets, mobile phones, internet of things, interactive ads, Transparency will dictate brand-customer relationships, The need for good content will not slow down. Ever. video content, User-generated content will be the new hit, Social will become the next Internet, Personalized, data-driven marketing will become more refined. live video

          I love being creative and fun, while striving to make attractive content, but also all of my work is derived from analytics, I feel I need the support of numbers to guide me on an appropriate path. I like to have a solid reasoning behind my work so I know the cosmetic part of my work is built on a solid framework with reason. 
        </div>
      </div>

      <div class="row justify-content-center">
         <div class="col-md-6">
          <ul>
              <li>interpersonal skills</li>
              <li>good oral and written communication skills</li>
              <li>numeracy and analytical ability</li>
              <li>creativity and imagination</li>
              <li>influencing and negotiation skills</li>
              <li>teamwork</li>
              <li>organisational ability</li>
              <li>IT skills</li>
              <li>business and commercial acumen</li>
              <li>drive and ambition</li>
              <li>Email Marketing</li>
              <li>Social Media Marketing</li>
              <li>Analitics</li>
              <li>SEO</li>
              <li>Lead Generation</li>
              <li>Graphic design</li>
              <li>Drive and Ambition</li>
              <li>Social Media</li>
              <li>Advertising</li>
              <li>Website Design</li>
              <li>Budget Planning</li>
              <li>Direct Marketing</li>
              <li>Content</li>
              <li>Video Content</li>
              <li>Infographics</li>
              <li>Pictographs</li>
              <li>google ad words, ad roll, twitter analytics, facebook analytics, snapchat analytics</li>
              <li>Driven by ROI</li>
              <li>Increased engagement rate</li>
          </ul>
        </div>


        <div class="col-md-6">
          <div class="email_box">
            <h2 class='text-center' id="call_to_action">CALL TO ACTION </h2>
            <h2 class='text-center' id="call_to_action2"></h2>
              <div class="row justify-content-center">
                <div class="email text-center">
                  <%= form_for @user do |f| %> 
                    <%= f.text_field :name, :placeholder => "Name", :class => "input-box" %><br>
                    <%= f.text_field :email, :placeholder => "Email", :class => "input-box" %><br>
                    <%= f.submit "STRATEGIC BUTTON", :class => "email-button" %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      
        </div>
    </div>


    
      
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-c" id="content-section-c">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <h2 class="section-heading-c">Web & Content Design </h2>
          </div>
        </div>
          <div class="row justify-content-center text-center">
            <div class="col-md-6">
              <p class="lead">My love for web development has expotentially grown over the past years. The realization of how many bad websites and apps there are on the internet, and all the missed opportunities they encompass reignited my passed interest in creating engaging interactive web projects. I am excited to create beautiful work that is also easy and motivating to enage with for the user. The quote below I feel blends perfectly into the web design world, an individual shouldn't have to think to use your product they should just have the pleasure of doing so. </p>
            </div>

            <div class="col-md-6">
              <div class="row justify-content-center text-center">
                
                <div class="col gotto-marry"><h4 class="lang-title">PHP</h4></div>
                
               
                <div class="col wish-list"><h4 class="lang-title">Sinatra</h4></div>
                
                
                <div class="col recipe"><h5 class="ror">Ruby On Rails</h5></div>
                
              </div>
              <div class="row justify-content-center text-center">
                
                <div class="col email-square"><h4 class="email-square-title">EMAIL</h4></div>
                
                
                <div class="col storypage"><h4 class="js_jquery">JS/jQuery</h4></div>
                
                
                <div class="col gif"><h4 class="adobe">ADOBE</h4></div>
                
              </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 text-center quote-2">
            <blockquote class="margin-override">“Any product that needs a manual to work is broken."
                  <cite> Elon Musk</cite>
          </blockquote>
        </div>


      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">
      <!-- /.container -->
    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-5">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#services">Services</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Tyler Gotto 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    