
    
    <!-- Header -->

    <header class="intro-header dark-cover">
      
      <div class="container">
      <div class="row justify-content-center text-center">
        <div class="intro-message">
          <h1><span class="name">TYLER &nbsp;GOTTO</span></h1>
            <!-- <h3>Welcome to my personal website</h3>
            <hr class="intro-divider"> -->
            <ul class="the-ul list-inline intro-social-buttons">
            <li class="list-inline-item">
                <a href="#content-section-a" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">background</span>
                </a>
              <!-- </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-b" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">marketing</span>
                </a>
             <!--  </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-c" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">design</span>
                </a>
                
              <!-- </li> -->
            <!-- </ul> -->
          </div>
          </div>
        </div>
      </div>
      
    </header>

    <!-- Page Content -->
    <section class="content-section-a" id="content-section-a">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8" id="about_tyler">
            <h2 class="section-heading text-center">Up till Now</h2>
            <p class="lead">
            I am a huge marketing and technlology fan. I get excited over a youtube ad that can get my not to hit skip and a Budwiser Superbowl Commercial that makes me emotional over a dog and a horse. I love working with people who drive me to learn more and do better work. I've always been an early adopter of technology and am constantly looking forward to the next big trend which will shape our lives. </p>
            <h5 class="text-center">How I got here</h5>
            <p class="lead">
            Being a professional hockey player who worked in marketing in both North America and Europe I have gained so much from my experiences interacting with people of differenet cultures, public speaking at events. Hockey also instilled in me a desire to excel at all endeavors I intake. As well I have a life long history of striving in a team environment and being a leader who helps drive my team to surpass our goals. I got to work for an organization, which developed from the smallest budget in the country to the largest, one with the great media interaction and sponsorship growth. 

            I am obsessed with learning, my days consist of drinking countless cups of coffee while I read, learn and try to improve myself. On top of staying healthy and traveling the world I have spent my time since college taking professional development and exyended learning courses. Web development, marketing and finance course are what generally draw my ire. 
            </p>
          </div>
          <div class="col-lg-4">
            <blockquote class="quote">
            The best time to plant a tree was 20 years ago. The second best time is now. The best time to plant a tree was 20 years ago. The second best time is now.The best time to plant a tree was 20 years ago. <cite> Chinese Proverb </cite>
          </blockquote>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b" id="content-section-b">
     <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <h2 class="text-center">My feelings towards Marketing</h2>
          <div class="marketing-margin">
          <p class="lead">Mobile is here, patience and people’s attention spans are gone. The consumer today wants pictures and video, they are bored with reading. They are looking for an experience, and a connection so brands need to offer this to the consumer to in order to engage with them.</p>

          <p class="lead">For an early adopter like me the evolving ways to communicate and interact with a consumer is exciting.  It is easier than ever to reach the consumer but harder than ever to hold their attention, analytics has a more important role in our decision making than ever before. I love being creative and cutting edge but it is important for me to do so with the backing of the numbers, the analytics can guide your innovative ideas to be innovative and successful. Because we all want the proper ROI on our work. </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-md-6">
          <div class="email_box">
            <h2 class='text-center' id="call_to_action">CALL TO ACTION </h2>
            <h2 class='text-center' id="call_to_action2"></h2>
              <div class="row justify-content-center">
                <div class="email text-center">
                  <%= form_for @user do |f| %> 
                    <%= f.text_field :name, :placeholder => "Name", :class => "input-box" %><br>
                    <%= f.text_field :email, :placeholder => "Email", :class => "input-box" %><br>
                    <%= f.submit "STRATEGIC BUTTON", :class => "email-button" %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      
        </div>
    </div>


    
      
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-c" id="content-section-c">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <h2 class="section-heading-c">Design </h2>
          </div>
        </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <p class="lead">My interest in design has expotentially grown over the past years. The realization of how many bad websites and apps there are on the internet, and all the missed opportunities they encompass reignited my interest in creating engaging interactive web projects.  The importance of concise, informative and effective design feeds into my creative side urging me to have fun designing different forms of media. It is so fun to create beautiful work that is also motivating and to enage with for the consumer. The following quote blends perfectly into the design world, an individual shouldn't have to think to use your product they should just have the pleasure of doing so. </p>
            </div>

            <div class="col-md-6">
              <div class="row justify-content-center text-center">
                
                <div class="col gotto-marry"><h4 class="lang-title">PHP</h4></div>
                
               
                <div class="col wish-list"><h4 class="lang-title">Sinatra</h4></div>
                
                
                <div class="col recipe"><h5 class="ror">Ruby On Rails</h5></div>
                
              </div>
              <div class="row justify-content-center text-center">
                
                <div class="col email-square"><h5 class="email-square-title">PHOTOSHOP</h5></div>
                
                
                <div class="col storypage"><h4 class="js_jquery">JS/jQuery</h4></div>
                
                
                <div class="col gif"><h4 class="adobe">ADOBE</h4></div>
                
              </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-7 text-center quote-2">
            <blockquote class="margin-override">“Any product that needs a manual to work is broken."
                  <cite> Elon Musk</cite>
          </blockquote>
        </div>


      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <!-- <aside class="banner"> -->
      <!-- /.container -->
    <!-- </aside> -->
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-sm hvr-float-shadow">HOME</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#content-section-a" class="btn btn-secondary btn-sm hvr-float-shadow">BACKGROUND</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#content-section-b" class="btn btn-secondary btn-sm hvr-float-shadow">MARKETING</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="contact" class="btn btn-secondary btn-sm hvr-float-shadow">CONTACT</a>
              </li>
            </ul>
            <p class="copyright small">Copyright &copy; Tyler Gotto 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    