
    <!-- Navigation -->
    <nav class="my-navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">TYLER GOTTO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a target="_blank" class="nav-link" href="https://linkedin.com/in/tylergotto" title="LINKEDIN"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a target="_blank" class="nav-link" href="https://twitter.com/tgots7?lang=en" title="TWITTER"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a target="_blank" class="nav-link" href="https://www.instagram.com/tgots7/?hl=en" title="INSTAGRAM"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a target="_blank" class="nav-link" href="https://github.com/TGots7" title="GITHUB"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
      <div class="row justify-content-center text-center">
        <div class="intro-message">
          <h1><span class="name">TYLER &nbsp;GOTTO</span></h1>
            <!-- <h3>Welcome to my personal website</h3>
            <hr class="intro-divider"> -->
            <ul class="the-ul list-inline intro-social-buttons">
            <li class="list-inline-item">
                <a href="#content-section-a" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">background</span>
                </a>
              <!-- </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-b" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">projects</span>
                </a>
             <!--  </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-c" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">marketing</span>
                </a>
                
              <!-- </li> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a" id="content-section-a">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8" id="about_tyler">
            <h2 class="section-heading text-center">Done with this for today???</h2>
            <p class="lead">This is the life story of Tyler Gotto, how he got to where he is today, and where he is hoping to go from here and what he is hopong to do! He played hockey, he is from Canada, he went to college in the USA, got a Marketing degree then payed 7 years of professional hockey in Europe. He travelled a lot and met a lot of cool people and brodened his horizon internationally and cuturally. Now he and his new wife have moved to New York City, where he is looking to contine his carrer in marketing and web development.<br>
            This is the life story of Tyler Gotto, how he got to where he is today, and where he is hoping to go from here and what he is hopong to do! He played hockey, he is from Canada, he went to college in the USA, got a Marketing degree then payed 7 years of professional hockey in Europe. He travelled a lot and met a lot of cool people and brodened his horizon internationally and cuturally. Now he and his new wife have moved to New York City, where he is looking to contine his carrer in marketing and web development. </p>
          </div>
          <div class="col-md-4">
            <p class="quote">“The best time to plant a tree was 20 years ago. The second best time is now.”<br> – Chinese Proverb</p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b" id="content-section-b">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <h2 class="section-heading">Web Development</h2>
            <p class="lead">This is the life story of Tyler Gotto, how he got to where he is today, and where he is hoping to go from here and what he is hopong to do! He played hockey, he is from Canada, he went to college in the USA, got a Marketing degree then payed 7 years of professional hockey in Europe. He travelled a lot and met a lot of cool people and brodened his horizon internationally and cuturally. Now he and his new wife have moved to New York City, where he is looking to contine his carrer in marketing and web development.</p>
            </div>

            <div class="col-md-6">
              <div class="row justify-content-center text-center">
                
                <div class="col gotto-marry"></div>
                
               
                <div class="col gotto-marry"></div>
                
                
                <div class="col gotto-marry"></div>
                
              </div>
              <div class="row justify-content-center text-center">
                
                <div class="col gotto-marry"></div>
                
                
                <div class="col gotto-marry"></div>
                
                
                <div class="col gotto-marry"></div>
                
              </div>
          </div>
        </div>
      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-c" id="content-section-c">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
            <p class="lead">This template features the 'Lato' font, part of the
              <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as
              <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
          </div>
          <div class="col-lg-5 mr-auto ">
            <img class="img-fluid" src="img/phones.png" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2>Connect to Start Bootstrap:</h2>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn btn-secondary btn-lg">
                  <i class="fa fa-linkedin fa-fw"></i>
                  <span class="network-name">Linkedin</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-5">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#services">Services</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Tyler Gotto 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    