<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-10" id="resume-page">
			<div class="container-fluid resume-header">
				<h1>Tyler Gotto</h1>
				<p>New York, NY<br>TylerGotto17@gmail.com<br>
				716-799-5316</p>
			</div>
			<div class="container-fluid resume-paragraph">
				<h6>“Motivated and self-driven marketing professional, proficient at leading teams to success and being a contributing team member who lays a foundation for overall accomplishments. In depth knowledge of social media platforms and cutting-edge technologies used to increase customer engagement.”</h6>
			</div>
			<div class="container-fluid splitter">
				<p>PROFESSIONAL EXPERIENCE</p>
			</div>
			<div class="container-fluid job-paragraph">
				<h6><strong>Sønderjyske Hockey, Denmark</strong></h6>
				<h6>DECEMBER 2012 – JUNE 2017</h6>
				<h6>Professional Athlete / Marketing Consultant</h6>
				<ul>
					<li>Successfully collaborated with sponsors in creation of digital and textile marketing campaigns leading to a multi-year contract extension and raise in monetary contribution.</li>
					<li>Influenced and lead collaboration with community to advance the organization to being the highest sponsored and largest media covered program in the country.</li>
					<li>Analyzed digital marketing content to optimize delivery to niche demographics and exponentially increase social media interaction. </li>
					<li>Regular public speaking experience, advancing organization relations with the public and media. </li>
					<li>Demonstrate willingness to support the team effort, team goals and moral.</li>
					<li>Focused effort, sacrifice and self-motivation toward achieving personal and team goals. </li>
					<li>Ability to communicate and collaborate well with others and orchestrate large groups towards success.</li>
				</ul>
			</div>
			<div class="container-fluid job-paragraph">
				<h6>Tri-Can Tire, Calgary, Alberta, Canada</h6>
				<h6>MAY 2009 - SEPTEMBER 2011</h6>
				<h6>Marketing / Sales Associate</h6>
				<ul>
					<li>Contributed to branch annual sales growth from 4 million to over 36 million and expansion of product line.</li>
					<li>Attributed to company growth leading to 97.5-million-dollar acquisition. </li>
					<li>Developed strategic marketing plans and orchestrated correlating inventory preparation for company clients. </li>
					<li>Established and maintained client relationships through effective and consistent communication and collaboration. Delivered unsurpassed customer service experience.</li>
				</ul>
			</div>
			<div class="container-fluid job-paragraph">
				<h6><span class="left">Superstore, Calgary, Alberta, Canada</span>
				<span class="right">APRIL 2001 - AUGUST 2006</span></h6><br>
				<h6>Sports and Leisure Assistant Supervisor</h6>
				<ul>
					<li>Facilitated ordering of product, designed product placement and price points.</li>
					<li>Administered department employees time tables, additional pay and relations.</li>
					<li>Oversaw supplier, distributor and customer relations.</li>
				</ul>
			</div>
			<div class="container-fluid splitter-2">
				<p>EDUCATION</p>
			</div>
			<div class="container-fluid job-paragraph">
				<h6>Tri-Can Tire, Calgary, Alberta, Canada</h6>
				<h6>MAY 2009 - SEPTEMBER 2011</h6>
				<h6>Marketing / Sales Associate</h6>
				<ul>
					<li>Contributed to branch annual sales growth from 4 million to over 36 million and expansion of product line.</li>
					<li>Attributed to company growth leading to 97.5-million-dollar acquisition. </li>
					<li>Developed strategic marketing plans and orchestrated correlating inventory preparation for company clients. </li>
					<li>Established and maintained client relationships through effective and consistent communication and collaboration. Delivered unsurpassed customer service experience.</li>
				</ul>
			</div>
			<div class="container-fluid splitter-2">
				<p>EDUCATION</p>
			</div>
			<div class="container-fluid job-paragraph">
				<h6>Tri-Can Tire, Calgary, Alberta, Canada</h6>
				<h6>MAY 2009 - SEPTEMBER 2011</h6>
				<h6>Marketing / Sales Associate</h6>
				<ul>
					<li>Contributed to branch annual sales growth from 4 million to over 36 million and expansion of product line.</li>
					<li>Attributed to company growth leading to 97.5-million-dollar acquisition. </li>
					<li>Developed strategic marketing plans and orchestrated correlating inventory preparation for company clients. </li>
					<li>Established and maintained client relationships through effective and consistent communication and collaboration. Delivered unsurpassed customer service experience.</li>
				</ul>
			</div>
		</div>
	</div>
</div>